USE [WinMenu2]
GO
/****** Object:  Table [dbo].[Object]    Script Date: 27.08.2020 14:41:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Size] [decimal](18, 0) NULL,
	[Icon] [nvarchar](max) NULL,
	[TypeId] [int] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Object] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 27.08.2020 14:41:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Object] ON 

INSERT [dbo].[Object] ([Id], [Title], [Size], [Icon], [TypeId], [ParentId]) VALUES (1, N'Icons', NULL, NULL, 2, 2)
INSERT [dbo].[Object] ([Id], [Title], [Size], [Icon], [TypeId], [ParentId]) VALUES (2, N'General', NULL, NULL, 2, NULL)
INSERT [dbo].[Object] ([Id], [Title], [Size], [Icon], [TypeId], [ParentId]) VALUES (3, N'Temp', NULL, NULL, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Object] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'File')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Folder')
SET IDENTITY_INSERT [dbo].[Type] OFF
ALTER TABLE [dbo].[Object]  WITH CHECK ADD  CONSTRAINT [FK_Object_Object] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Object] ([Id])
GO
ALTER TABLE [dbo].[Object] CHECK CONSTRAINT [FK_Object_Object]
GO
ALTER TABLE [dbo].[Object]  WITH CHECK ADD  CONSTRAINT [FK_Object_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Object] CHECK CONSTRAINT [FK_Object_Type]
GO
